/*
* License: CC0 (See LICENSE file)
*
* Class Casing: kebab-case
*
* Layout Properties (position, float, clear, display)
* Box Model Properties (width, height, margin, padding)
* Visual Properties (color, background, border, box-shadow)
* Typography Properties (font-size, font-family, text-align, text-transform)
* Misc Properties (cursor, overflow, z-index)
*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-colour: #999;
  --text-colour: #D3D3D3;
  --border-trim: #80808033;
  --border-trim-purple: #A020F033;
  --heading-colour: #B2B2B2;
  --bg: #111;
  --bg-code: #2E2E2E;
  --bg-drk: #191919;
  --bg-gryish: #383838;
  --grn: #280;
  --blu: #4AD;
  --gry: #B2B2B2;
  --orng: #D19A66;
  --prpl: #C7D;
  --yellow: #EBD040;
  --vivid-blue: #36F;
  --width: 75%;
}

body {
  padding: 10px 0;
  background: #000;
  color: var(--text-colour);
  font: 1.5em Hack, Roboto, 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Arial, monospace, Webdings;
  font-display: swap;
  overflow-x: hidden;
}

header, main, footer {
  border: 1px solid var(--border-trim);
  background: var(--bg-drk);
  width: var(--width);
  padding: 10px;
  margin: auto;
}

header {
  margin-bottom: 10px;

  & nav {
    text-align: center;

    & ul {
      padding: 0;
      list-style: none;

      & li::before { content: '・'; }
      & li:first-of-type::before { content: ''; }
      & li { display: inline-block; }
    }
  }
}

main {
  width: var(--width);
  padding: 10px;
  margin: auto;

  /* padding-top: 0; */
  background: var(--bg-drk);
}

footer {
  margin-top: 10px;
}

img, picture, video, canvas, svg  {
  display: block;
  max-inline-size: 100%;
}

figure {
  margin: 0 auto;
  inline-size: 100%;
  margin-bottom: 16px;

  & img { margin: 0 auto; }

  & figcaption {
    text-align: center;
    color: var(--blu);
    font-style: italic;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 10px 0;
  color: var(--heading-colour);

  &::before { color: #ec4; }
}

h1::before { content: '# '; }
h2::before { content: '## '; }
h3::before { content: '### '; }
h4::before { content: '#### '; }
h5::before { content: '##### '; }
h6::before { content: '###### '; }
em { color: var(--blu); }
strong { color: var(--orng); }
em strong { color: var(--prpl); }

hr {
  margin: 12px 0;
  border: 1px dashed;
}

blockquote {
  /* WIP */
}

pre {
  display: flex;
  inline-size: 100%;
  margin: 0 auto;
}

pre code {
  margin: 12px auto;
  max-height: 512px;
  padding: 4px 8px;
  inline-size: 95%;
  background: var(--bg-code);
  white-space: pre-wrap;
  overflow-y: auto;
}

/* link, visited, hover, active */
a {
  color: #ec4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--blu);
  }

  &:active { color: var(--grn); }
}

table {
  margin: auto;
  inline-size: 50%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-block: auto;

  & td, & th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }

  & tr {
    background-color: var(--bg);
    border-top: 1px solid #c6cbd1;
  }

  & tr:nth-child(2n) { background-color: var(--bg-code); }
}

/*
input[type="text"],
input[type="password"],
textarea {
  padding: 5px;
  border: 1px solid var(--main-colour);
  border-radius: 5px;
  background-color: var(--bg-gryish);
  font-size: 16px;
  color: var(--white);
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: var(--white);
}

*/

/* Media Queries (should be the last section in the file) */

@media all and (width <= 1200px) {
    header, main, footer {
      width: 95%;
    }
}
